/*Main styles*/

* {

 box-sizing: border-box;

}

body {
  line-height: 1.6;
  color: #3a3a3a;
  font-family: 'Lato', sans-serif;
  
  font-weight: 300;
}


/*Styles navigation*/

a { 
  color: #000;
 
}

p:last-child {
  margin-bottom: 0;

}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.mainheader-logo {
  float:left;
  width:140px;
  height:135px;
  margin-left: 35px;
  margin-top: 35px;

}

.main-header {
 text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;

}

.name a,
.main-nav a {
  padding: 10px 25px;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color:#000;

}

.name {
  margin: 0;
}


/*Styles heading and main content*/


h1 {
  font-size: 30px;
  line-height: 50px; 
  text-align: center;
 

}


h2 {
  
    font-size: 17px;
}

.row {
    margin: 5px;
    margin-top: 10px;
    padding-top: 10px;
    padding: 10px;
    
  }  

img {
    max-width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 25px;
    padding: 10px;
    border: solid 1px #d9e4ea;
    border-radius: 25px;

}



/*Styles footer*/



.main-footer {
   text-align: center;
   padding:1em 0;
   background: #0072CE;
   color:#FFF;
  
}

/*media queries*/

@media (min-width: 769px) {

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;

  }

.name,
.main-nav,
.main-nav li {
  display: inline-block;
}

}