
body,
html {
	
	text-align: center;
	background-color: #fff;
	font-family:'Cantata One', serif;;

}

nav {

	position: auto;
	width: 1000px;
	margin: auto;
	top: 0;
	z-index: 170;
	padding-top: 10px;
	width: 100%;
	background-color: rgba(255, 255, 255, 255);
	word-spacing: 1em;
	font-size: 18px;
}	



.navbar li {

  	display: inline-block;
  	list-style: outside none none;
  	margin: 0.5em 1.5em;
  	padding: 0;
  	padding-bottom: 5px;
  	
  	
}

.navbar a {

  	padding: 0.3em 0;
  	color: #333;
  	position: relative;
  	text-decoration: none;

}

.h2 {

	font-family:'Cantata One', serif;;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;


}

.center {

	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
}

h3 {

    font-style: normal;
    font-size: 36px;
    line-height: 50px;
    border-bottom: 2px solid;
    display: inline;

}




/*styles footer*/

.main-footer {

	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: 30px;
	border-top: 1px solid #D3D3D3;
	position: absolute;
	
}


.main-footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer ul li {
    display: inline;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-size: 15px;

}






/*media queries*/

@media all and (max-width: 960px) and (min-width: 481px) {

body {
    background-color: #FFFFFF;
  }
}