
/* ================================= 
  Base Element Styles
==================================== */

* {

 box-sizing: border-box;

}

body {
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 100;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
}

a { 
  color: #fff;
  text-decoration: none;
}

p:last-child {
  margin-bottom: 0;

}

.name a,
.main-nav a {
  padding: 10px 25px;
  display: inline-block;
  color: #FFF;

}

.mainheader-logo {
  float:left;
  width:1px;
  height:135px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  margin-top: 35px;

}


img {
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 25px;
    padding: 10px;
    border: solid 1px #d9e4ea;
    border-radius: 25px;

}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header {
  
  text-align: center;
  padding-top: 5px;
  padding-bottom: 1px;
  margin-top: -5px;
  background: #3366CC  url('../img/soepkantine7.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 850px;  
}

/* ---- Page Elements ---- 


/*Styles images*/


/* ================================= 
  Layout navigation
==================================== */
.name {
  margin: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */


.container {
  padding-left: 1em;
  padding-right: 1em;
}

#open-dicht {
   position: relative;
   z-index: 2;
   line-height: 50px;
   background: transparent;
   bottom: 50px;
}


/* ================================= 
  Styles footer
==================================== */
.main-footer {
   text-align: center;
   padding:1em 0;
   background: #0072CE;
   color:#FFF;
   margin-top: 20px;
  
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }

.name,
.main-nav,
.main-nav li {
  display: inline-block;
}

.name {
  margin: 40px;

}

.col {
  display: inline-block;
  width: 50%;
  margin-right: -10px;
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
}

}

.clearfix::after {
  content: "";
  display: table;

}

