
/* =================================
  Base Element Styles
==================================== */

* {

 box-sizing: border-box;

}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  color: #2b2b2b;
  padding-top: 50px; 

}

html, body {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: auto; 

}


/* =================================
 Navbar
==================================== */

.navbar {
  margin-bottom: 0px;
  padding: 30px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border:none;

}

.navbar-nav {
  margin: 15px -15px;
  background-color: #FFF;

}


 .nav.navbar-nav.navbar-right li a {
   
    color: #000;
    padding-top: 5px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #ffffff; 

}


.nav.navbar-nav.navbar-right li a:hover,
.nav.navbar-nav.navbar-right li a:focus {
  background: #ffffff;
  border: 1px solid #000000;

}

.navbar-inverse {
background-image: none;
background-color: #000000;

}

.navbar-toggle {
  border-color: #000000;
  background-color: #fff;

}

.navbar-toggle .icon-bar {
    background-color: #000;

}

.navbar-toggle:hover {
    background-color: #000000;

}

.navbar-toggle:hover .icon-bar {
    background-color: #000000;

}

.navbar div.navbar-collapse {
    border-top:none;
    box-shadow:none;

}

.navbar> li > a {
    color: #000000 !important;

}

ul.nav a:hover { 
  color: #000000 !important; 

}


.navbar-brand {
  max-width: 80%;
  padding: 0px 15px;

}

.navbar-brand img {
  height: 50px; 

}


/* =================================
Jumbotron
==================================== */

.jumbotron h1 {
  
  font-family: 'Michroma', Arial, serif; font-weight: 500;
  font-size: 120px;
  color: #ffffff;
  padding-top: 40px;
  text-align: center;
  
}   


.jumbotron {
    position: relative;
    background: #ffffff url("../img/soepkantine1.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    
}

.down-button {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;

}

.down-button i {
  color: white;

}

/* =================================
Info
==================================== */

.info {
      padding-top: 80px;
      color: #000000;
      font-size: 13px;
}

/* =================================
 Table
==================================== */

td {
    padding: 1px;


}

th {
    height: 50px;

}

  .table-responsive {
    margin-left: 300px;
    margin-right: 500px;
    

}

  .table-responsive {
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
    
}

/* =================================
Main container
==================================== */

h2, h3 {
  padding-top: 20px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

h2 {
padding-top: 50px;
margin-top: 10px;

}

h4 {
   font-weight: bold;
}

.row {
  padding-bottom: 10px;
}


h3 .span {
  font-style: bold;

}


.soep-name {
  color: #000000;
  font-style: bold;
  font-size: 19px;
  font-weight: 900;

}

.btn.btn-default {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #337ab7;
  border-color: #000000;
}


/* =================================
Contact
==================================== */


.contact {
    text-align: center;
}

.google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
}
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
 }


/* =================================
  Facebook widget
==================================== */



  .fb_iframe_widget span {
        overflow: initial !important;
  }

  .fb_iframe_widget iframe {
        padding-left: 5px;
        margin-top: 40px;
        width: 285px !important;
        height: 400px !important;
        background-color: #fffff;
  }

/* =================================
  Styles footer
==================================== */
footer {
   text-align: center;
   padding:1em 0;
   color:#000;
   margin-top: 20px;
   font-size: 15px;

}

/* =================================
  Media queries
==================================== */

@media only screen and (min-width: 768px) {
    .navbar-brand {
      margin-top: -20px;
    }

    .navbar-brand img {
      width: 300px;
      height: auto;
    }

    .navbar-right {
      margin-right: 15px;

    }
}


@media screen and (max-width: 767px) {

 .jumbotron h1{
    font-size: 40px;
    color: #ffffff;
    
    }
}

@media screen and (max-width: 768px) {

  .info {
  font-size: 16px;
  margin-left: 20px;
  margin-top: -10px;
  clear: right;

  }

}

@media(min-width:768px) {
    .intro {
        height: 100%;
        
    }
}

@media screen and (max-width: 767px){

  .fb_iframe_widget span iframe {
     display: none;
  
    }

}

