
/* ================================= 
  Base Element Styles
==================================== */

* {

 box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-size: 0.95rem;
  font-weight: 300;
}

a { 
  color: #fff;
  text-decoration: none;
}

p:last-child {
  margin-bottom: 0;

}

.name a,
.main-nav a {
  padding: 10px 25px;
  display: inline-block;
  color: #FFF;

}



/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header {
  
  text-align: center;
  padding-top: 5px;
  padding-bottom: 1px;
  margin-top: -5px;
  background: #3366CC  url('../img/soup1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 850px;  
}

/* ---- Page Elements ---- 


/*Styles images*/


/* ================================= 
  Layout navigation
==================================== */
.name {
  margin: 0;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */


.container {
  padding-left: 1em;
  padding-right: 1em;
}

#open-dicht {
   position: relative;
   z-index: 2;
   line-height: 50px;
   background: transparent;
   bottom: 50px;
}

h1 {
  color: #FFFFFF;
  line-height: 1.3em;
  border-bottom: 2px solid;
  display: inline-block;
  font-family: 'Vidaloka', sans-serif;

}

h2 {
  font-weight: normal;

}


/* ================================= 
  Styles footer
==================================== */
.main-footer {
   text-align: center;
   padding:1em 0;
   background: #0072CE;
   color:#FFF;
   margin-top: 20px;
  
}

/* ================================= 
  Media queries
==================================== */

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

  .wrap {
    min-height: calc(100vh - 89px);
  }

  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
  }

.name,
.main-nav,
.main-nav li {
  display: inline-block;
}

.name {
  margin: 40px;

}

.col {
  display: inline-block;
  width: 50%;
  margin-right: -10px;
  vertical-align: top;
  padding-left: 1em;
  padding-right: 1em;
}

.feat-img {
    width: 850px;
    text-align: center;
    margin-top: 5px;
    margin-right: 50px;
    margin-bottom: 25px;
    padding: 10px;
    border: solid 1px #d9e4ea;
    border-radius: 25px;

}

.clearfix::after {
  content: "";
  display: table;

}

}