
/* =================================
  Base Element Styles
==================================== */

* {

 box-sizing: border-box;

}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-top: 70px; /** iets meer ruimte gegeven **/
}

body,
html {
 height: 100%
}



   .info {
      padding-top: 60px;
   }

/* navbar */

.navbar {
  margin-bottom: 0px;
  padding: 30px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border:none;
}

.navbar-nav {
  margin: 15px -15px;
  background-color: #FFF;
}



 .nav.navbar-nav.navbar-right li a {
    /**deze selector hierboven is wel erg specifiek, waardoor het lastiger is om deze te overschrijven als je dat later wilt! Probeer zo min mogelijk specifiek te zijn. Het is een kunst :) **/
   
    color: #000;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid #FFF; /** onzichtbaar randje toegevoegd zodat bij een hover of een focus de tekst niet stiekem verspringt **/
}



.nav.navbar-nav.navbar-right li a:hover,
.nav.navbar-nav.navbar-right li a:focus {
  background: #FFF;
  border: 1px solid #000;
}

.navbar-inverse {
background-image: none;
background-color: #fff;
}

.navbar-toggle {
  border-color: #000;
  background-color: #fff;
}

.navbar-toggle .icon-bar {
    background-color: #000;
}

.navbar-toggle:hover {
    background-color: #000;
}

.navbar-toggle:hover .icon-bar {
    background-color: #fff;
}

.navbar div.navbar-collapse {
    border-top:none;
    box-shadow:none;
}

.navbar> li > a {
  color: #000000 !important;

}

ul.nav a:hover { color: #000 !important; }


.down-button {
    position: absolute;
    padding-top: 50px;
    bottom: 4px;
    width: 100%;
   text-align: center;
   
}
.down-button i {
    color: white;

}


.navbar-brand {
  max-width: 80%;
  padding: 0px 15px; /** padding top en bottom maakte dat het plaatje te laag kwam te staan ten opzichte van de menuknop **/
}

.navbar-brand img {
  height: 50px; /** zelfde hoogte als de bootstrap-menubalk **/
  width: auto; /** houdt de beeldverhouding goed **/
}

@media only screen and (min-width: 768px) {
    .navbar-brand {
      margin-top: -20px;
    }

    .navbar-brand img {
      width: 300px;
      height: auto;
    }

    .navbar-right {
      margin-right: 15px;
    }
}

/* =================================
  Base Layout Styles
==================================== */
h1 {
  color: #fff;
  font-family: 'Trocchi', sans-serif;
  font-size: 120px;
  padding-left: 10px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {

 h1 {
    font-size:60px;
    }
}

h2, h3 {
  color: #000;
  text-align: center;
  font-weight: bold;
}

h2 {
padding-top: 50px;

}

h4 {

   font-weight: bold;
}

.row {
  padding-bottom: 10px;
}

@media screen and (min-width: 767px) {

  .info-title {
    font-size: 14px;
  }
  .info {
  font-size: 13px;
  margin-left: 20px;
  margin-top: -10px;
  }
}


.contact {
    /** margin: 50px;
    weggehaald omdat dit volgens mij teveel witruimte creert op een specifiek element.
    Ik zou dan eerder een vaste padding zetten op alle 'row' elementen in het 'main' element.
    Hiermee krijg je een visuele rust die je niet krijgt als je per blok een margin of padding zet. **/
    text-align: center;
}

.google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
}
.google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
 }



/* =================================
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */


.container {
  padding-left: 1em;
  padding-right: 1em;

}

  .fb_iframe_widget span{
        overflow: initial !important;
    }

  .fb_iframe_widget iframe{
        padding-left: 25px;
        margin-top: 40px;
        width: 265px !important;
        height: 320px !important;
        background-color: #fffff;
    }


 @media screen and (max-width: 767px){

  .fb_iframe_widget span iframe {
     display: none;
  
  }
}



/* =================================
  Styles footer
==================================== */
footer {
   text-align: center;
   padding:1em 0;
   color:#000;
   margin-top: 20px;
   font-size: 15px;

}

